.header {
    width: 100vw;
    position: fixed;
    background-color: $dark-grey;

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: $z-index-header;
}
.container {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        h1 {
            color: $white;
            font-size: 2rem;
            padding: 0 20px;
            transition: 0.3s ease;
            &:hover {
                color: $red;
            }
        }
    }
    img {
        height: 4rem;
        object-fit: cover;
    }
}
.nav {
    height: 100%;
    .nav-list {
        display: flex;
        justify-content: center;
        list-style: none;
        .nav-list__item {
            padding: 2rem 4rem;
            a {
                color: $white;
                font-size: 1.4rem;
                text-decoration: none;
                white-space: nowrap;
                @extend %underline;
            }
        }
    }
}
