.hot-news {
    width: 100vw;
    min-height: 60vh;
    margin: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    position: relative;

    border-radius: 8px;

    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    background-color: $light-grey;
}

.hot-news__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 100%;;
    border-radius: 8px 0 0 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hot-news__content {
    height: 100%;
    width: 100%;
    padding: 4rem 4rem 4rem 34vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .hot-news__name {
        width: fit-content;
        a {
            color: $white;
            text-decoration: none;
            font-size: 2rem;
        }
    }
    .hot-news__about {
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid $red;
        border-bottom: 2px solid $red;
        color: $light;
    }
}