<h1 class="section-name">Культура</h1>

<div class="container-news">
    <div class="block">
        <div class="background-img">
            <img src="assets/images/culture.jpg" alt="">
        </div>
        <div class="content">
            <div class="block-name">
                <a href="culture.html">
                    <h3>Культурная жизнь Минска: гайд по тому, как развить себя
                        духовно в столице
                    </h3>
                </a>
            </div>
            <div class="block-about">
                <p>
                    Переезжая в Минск многое начинает играть другими красками: сотни улочек,
                    которые наполнены новомодными граффити и уютными кофейнями, музеи,
                    галереи, театры, кино. Столько всего!
                </p>
            </div>
            <a class="read-more" href="culture.html">Читать далее</a>
        </div>
        <div class="date">
            <p>19.11.2020</p>
        </div>
    </div>
    <div class="block">
        <div class="background-img">
            <img src="assets/images/reading.jpg" alt="">
        </div>
        <div class="content">
            <div class="block-name">
                <a href="reading.html">
                    <h3>«После прочтения книг о мальчике со шрамом, поняла, что лучше книг ничего нет!» Что же сейчас
                        читает
                        молодежь?</h3>
                </a>
            </div>
            <div class="block-about">
                <p>
                    Несмотря на то, что сегодня технологии и интернет заняли все наше время, читать книги молодежь
                    продолжает изо дня в день. Они помогают нам погружаться в неизведанные и неприступные миры, видеть
                    то,
                    чего не дано видеть в реальной жизни, а также, учиться чему-то новому.
                </p>
            </div>
            <a class="read-more" href="reading.html">Читать далее</a>
            <div class="date">
                <p>19.11.2020</p>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="background-img">
            <img src="assets/images/young.jpg" alt="">
        </div>
        <div class="content">
            <div class="block-name">
                <a href="young.html">
                    <h3>«Молодые люди читают и будут читать»</h3>
                </a>
            </div>
            <div class="block-about">
                <p>
                    Поэт, член Союза писателей Беларуси и России Алесь Писарик убеждён, что молодёжь сохранит
                    целительную силу поэзии…
                </p>
            </div>
            <a class="read-more" href="young.html">Читать далее</a>
            <div class="date">
                <p>19.11.2020</p>
            </div>
        </div>
    </div>
</div>