<div class="hot-news">
    <div class="content">
        <div class="hot-news__img">
            <img class="hot-news__img" src="../assets/images/wallpaperbetter.com_750x1334.jpg" alt="">
        </div>
        <div class="hot-news__content">
            <div class="hot-news__name">
                <a href="#">
                    <h3>Главная новость</h3>
                </a>
            </div>
            <div class="hot-news__about">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita nobis saepe velit, odit maxime
                    ducimus minus nam eveniet nostrum assumenda cum consequuntur perspiciatis asperiores repellat labore
                    nisi doloribus facere debitis aut. Ut exercitationem reiciendis soluta nam facere consequatur!
                    Nobis, consequatur, vero tempore ab, illum laboriosam quaerat veritatis ea modi perspiciatis
                    inventore aliquam cumque omnis corrupti magnam doloribus? Quasi quos quidem perspiciatis mollitia
                    impedit placeat dolorem laudantium animi nulla iste dignissimos aspernatur iusto facere deserunt
                    natus molestiae quia ea, sit temporibus! Eum, repudiandae ratione! Incidunt perspiciatis itaque
                    tempora veritatis vitae eius, corporis aliquid minima nam deleniti quos at quasi voluptatem,
                    blanditiis minus. Modi, quis vero possimus aliquam in, maxime provident cupiditate alias natus,
                    suscipit consectetur nisi voluptatum praesentium non numquam. Autem voluptates eum necessitatibus
                    non dignissimos iste consectetur porro accusamus, quisquam nesciunt reprehenderit excepturi quod
                    dolores quia quasi beatae distinctio hic a facere nobis, praesentium nihil! Explicabo illo molestias
                    optio repellat!
                </p>
            </div>
            <a class="read-more" href="#">Читать далее</a>
            <p class="date">19.11.2020</p>
        </div>
    </div>
</div>