<div class="hot-news">
    <div class="content">
        <div class="hot-news__img">
            <img class="hot-news__img" src="assets/images/main.jpg" alt="">
        </div>
        <div class="hot-news__content">
            <div class="hot-news__name">
                <a href="#">
                    <h3>МАЯК V</h3>
                </a>
            </div>
            <div class="hot-news__about">
                <p>
                    Наш онлайн-проект нечто большее, чем задание для зачёта. Мы постарались воплотить все наши фантазии
                    из головы о будущей профессии и применить все свои знания, уже полученные на первом и половине
                    второго курса. Нам не было легко, как и полагается вначале пути, но результат не подвёл нас!
                    На нашем портале вы сможете узнать: как культурно провести выходные, какие недорогие и интересные
                    места в Минске можно посетить, узнаете о том, как молодые и не очень люди относятся к книгам,
                    расскажем о белорусской нью-гранж группе и как завести свой блог и с чего начать.
                </p>
            </div>
        </div>
    </div>
</div>