<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 1</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
            <p>19.11.2020</p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
</div>
<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 2</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
            <p>19.11.2020</p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
</div>
<div class="block">
    <div class="content">
        <i class="fas fa-fire"></i>
        <div class="block-name">
            <a href="#">
                <h3>Новость 3</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
            <p>19.11.2020</p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
</div>
<div class="block block--wide">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 2</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
            <p>19.11.2020</p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
        <div class="time">
        </div>
    </div>
    <img class="block-img" src="../assets/images/wallpaperbetter.com_750x1334.jpg" alt="">
</div>