<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 1</h3>
            </a>
        </div>
        <div class="block-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis nemo,
            itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
        </div>
    </div>
</div>
<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 2</h3>
            </a>
        </div>
        <div class="block-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis nemo,
            itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
        </div>
    </div>
</div>
<div class="block">
    <div class="content">
        <i class="fas fa-fire"></i>
        <div class="block-name">
            <a href="#">
                <h3>Новость 3</h3>
            </a>
        </div>
        <div class="block-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis nemo,
            itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
        </div>
    </div>
</div>
<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 4</h3>
            </a>
        </div>
        <div class="block-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis nemo,
            itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
        </div>
    </div>
</div>
<div class="block">
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 5</h3>
            </a>
        </div>
        <div class="block-about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis nemo,
            itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
        </div>
    </div>
</div>