<h1 class="section-name">Спорт</h1>

<div class="block">
    <div class="background-img">
        <img src="assets/images/lysander-yuen-LKaN_tqplEw-unsplash.jpg" alt="">
    </div>
    <div class="content">
        <i class="fas fa-fire"></i>
        <div class="block-name">
            <a href="#">
                <h3>Новость 1</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
    <div class="date">
        <p>19.11.2020</p>
    </div>
</div>

<div class="block">
    <div class="background-img">
        <img src="assets/images/tommy-boudreau-diO0a_ZEiEE-unsplash.jpg" alt="">
    </div>
    <div class="content">
        <div class="block-name">
            <a href="#">
                <h3>Новость 2</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
    <div class="date">
        <p>19.11.2020</p>
    </div>
</div>

<div class="block">
    <div class="background-img">
        <img src="assets/images/victor-freitas-qZ-U9z4TQ6A-unsplash.jpg" alt="">
    </div>
    <div class="content">
        <i class="fas fa-fire"></i>
        <div class="block-name">
            <a href="#">
                <h3>Новость 3</h3>
            </a>
        </div>
        <div class="block-about">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt autem soluta expedita dolore reiciendis
                nemo,
                itaque quia dignissimos facere nisi minus cum aspernatur ex sed, odio deserunt? Officiis, iure? Eveniet!
            </p>
        </div>
        <a class="read-more" href="#">Читать далее</a>
    </div>
    <div class="date">
        <p>19.11.2020</p>
    </div>
</div>